@{
    ViewData["Title"] = "Home Page";
    Layout = null;
   
}


<!DOCTYPE HTML>

<html>
<head>
    <title>Oxhoba Mcdowall</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    

</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section class="intro">
            <header>
                <h1>Oxhoba Mcdowall</h1>
                <p>A C# Developer/p>
                <ul class="actions">
                    <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
                </ul>
            </header>
            <div class="content">
                <span class="image fill" data-position="center"><img src="/assets/images/pic01.jpg" alt="" /></span>
            </div>
        </section>

        <!-- Section -->
        <section id="first">
            <header>
                <h2>About me</h2>
            </header>
            <div class="content">
                <p><strong>My journey</strong>  into the world of software development has been both challenging and rewarding. embarked on this path without formal education in computer science, driven by a relentless curiosity and a commitment to continuous learning. I am a problem solver at heart, always eager to tackle new challenges and find innovative solutions. I believe that my ability to think critically and my dedication to refining my craft make me a valuable asset to any team</p>
                <span class="image main"><img src="~/images/pic02.jpg" alt="" /></span>
            </div>
        </section>

        <!-- Section -->
        <section>
            <header>
                <h2>Techincal Skills</h2>
            </header>
            <div class="content">
                <p><strong>Tech Skills</strong> i'm most familiar with'.</p>
                <ul class="feature-icons">
                    <li>
                        <div>
                            <img src="/assets/images/unity.png" alt="" width="25" height="25" />
                            <p>Unity</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/assets/images/bootstrap.png" alt="" width="25" height="25" />
                            <p>Bootstrap 5</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/assets/images/c-sharp.png" alt="" width="25" height="25" />
                            <p>C#/Asp.net core</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/assets/images/css.png" alt="" width="25" height="25" />
                            <p>CSS </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/assets/images/html-5.png" alt="" width="25" height="25" />
                            <p>HTML5</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/assets/images/js.png" alt="" width="25" height="25" />
                            <p>JavaScript</p>
                        </div>
                    </li>

                    <li>
                        <div class="flex-container">
                            <div>
                                <img src="/assets/images/sql-server.png" alt="" width="30" height="30" />
                                <p>Mssql</p>
                            </div>
                        </div>
                    </li>




                </ul>

                <p>I started out experimenting and making games in Unity then slowly started to lean more into full stack.</p>
            </div>
        </section>

        <!-- Section -->
        <section>
            <header>
                <h2>Ultrices erat magna sed condimentum</h2>
            </header>
            <div class="content">
                <p><strong>Integer mollis egestas</strong> nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

                <!-- Section -->
                <section>
                    <header>
                        <h3>Erat aliquam</h3>
                        <p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
                            <a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
                            <a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
                            <a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
                        </div>
                    </div>
                </section>

                <!-- Section -->
                <section>
                    <header>
                        <h3>Nisl consequat</h3>
                        <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.</p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="images/gallery/fulls/05.jpg" class="landscape"><img src="images/gallery/thumbs/05.jpg" alt="" /></a>
                            <a href="images/gallery/fulls/06.jpg"><img src="images/gallery/thumbs/06.jpg" alt="" /></a>
                            <a href="images/gallery/fulls/07.jpg"><img src="images/gallery/thumbs/07.jpg" alt="" /></a>
                        </div>
                    </div>
                </section>

                <!-- Section -->
                <section>
                    <header>
                        <h3>Lorem gravida</h3>
                        <p>Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore.  ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.</p>
                    </header>
                    <div class="content">
                        <div class="gallery">
                            <a href="images/gallery/fulls/08.jpg" class="portrait"><img src="images/gallery/thumbs/08.jpg" alt="" /></a>
                            <a href="images/gallery/fulls/09.jpg" class="portrait"><img src="images/gallery/thumbs/09.jpg" alt="" /></a>
                            <a href="images/gallery/fulls/10.jpg" class="landscape"><img src="images/gallery/thumbs/10.jpg" alt="" /></a>
                        </div>
                    </div>
                </section>

            </div>
        </section>

        <!-- Section -->
        <section>
            <header>
                <h2>Duis sed adpiscing veroeros amet</h2>
            </header>
            <div class="content">
                <p><strong>Proin tempus feugiat</strong> sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.</p>
                <ul class="actions">
                    <li><a href="#" class="button primary large">Get Started</a></li>
                    <li><a href="#" class="button large">Learn More</a></li>
                </ul>
            </div>
        </section>

      
        <section>
            <header>
                <h2>Get in touch</h2>
            </header>
            <div class="content">
                <p><strong>Auctor commodo</strong> interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.</p>
                <form>
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="field half">
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="button primary" /></li>
                    </ul>
                </form>
            </div>
            <footer>
                <ul class="items">
                    <li>
                        <h3>Email</h3>
                        <a href="#">Mr.tabby@hotmail.com</a>
                    </li>
                    <li>
                        <h3>Telegram</h3>
                       <a href="https://t.me/nenggcrozby"></a>
                    </li>
                    <li>
                        <h3>City</h3>
                        <span>Moscow</span>
                    </li>
                    <li>
                        <h3>Elsewhere</h3>
                        <ul class="icons">
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                            <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                            <li><a href="#" class="icon brands fa-codepen"><span class="label">Codepen</span></a></li>
                        </ul>
                    </li>
                </ul>
            </footer>
        </section>

        

    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>